Source: pyqt-builder
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Dmitry Shachnev <mitya57@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               dh-sequence-sphinxdoc <!nodoc>,
               pybuild-plugin-pyproject,
               python3-all,
               python3-myst-parser <!nodoc>,
               python3-setuptools (>= 64),
               python3-setuptools-scm (>= 8),
               python3-sipbuild (>= 6.7),
               python3-sphinx <!nodoc>,
               python3-sphinx-rtd-theme <!nodoc>
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://github.com/Python-PyQt/PyQt-builder
Vcs-Git: https://salsa.debian.org/python-team/packages/pyqt-builder.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/pyqt-builder

Package: python3-pyqtbuild
Architecture: all
Depends: python3-packaging,
         python3-sipbuild (>= 6.7),
         ${misc:Depends},
         ${python3:Depends}
Recommends: qt5-qmake
Description: PEP 517 compliant PyQt build system
 PyQt-builder is the PEP 517 compliant build system for PyQt and projects
 that extend PyQt.  It extends the SIP build system and uses Qt's qmake to
 perform the actual compilation and installation of extension modules.
 .
 Projects that use PyQt-builder provide an appropriate pyproject.toml file
 and an optional project.py script.  Any PEP 517 compliant frontend, for
 example sip-install or pip can then be used to build and install the
 project.

Package: pyqt-builder-doc
Build-Profiles: <!nodoc>
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Multi-Arch: foreign
Description: PEP 517 compliant PyQt build system — documentation
 PyQt-builder is the PEP 517 compliant build system for PyQt and projects
 that extend PyQt.  It extends the SIP build system and uses Qt's qmake to
 perform the actual compilation and installation of extension modules.
 .
 Projects that use PyQt-builder provide an appropriate pyproject.toml file
 and an optional project.py script.  Any PEP 517 compliant frontend, for
 example sip-install or pip can then be used to build and install the
 project.
 .
 This package contains the documentation for PyQt-builder.
